.flex{
  display: flex;
}

.bg-light {
  background-color: rgb(239, 235, 235);
}

.grid {
  display: grid;
}
.grid-cols-3 {
  grid-template-columns: 20% 60% 20%;
}

.w-full {
  width: auto;

}

.items {
}

.col-3{
  grid-template-columns: 25% 25% 25% 25%;
}